<input [(ngModel)]="searchText" placeholder="search text goes here" >

<div class="table-responsive">
  <table class="table">
    <thead>
      <th>Picture</th>
      <th>Product Id</th>
      <th>Product name</th>
      <th>Code</th>
      <th>Release Date</th>
      <th>Description</th>
      <th>Price</th>
      <th>Ratings</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let product of listeDesProducts | filter : searchText">
        <td><img src="{{product.imageUrl}}"></td>
        <td>{{product.productId}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.productCode}}</td>
        <td>{{product.releaseDate | date : "dd/MM/yyyy"}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.starRating}}</td>
        <td>Actions</td>
      </tr>
    </tbody>
  </table>
</div>