<!--
  <div class="row">
    <div class="col-6">
      <div class="col align-self-center">
        <h2>Ajout d'un nouvel utilisateur</h2>
          <label>Nom</label>
          <input type="text" class="form-control" [(ngModel)]= "tempUser.lastName">
          <label>Prenom</label>
          <input type="text" class="form-control" [(ngModel)]= "tempUser.firstName">
          <label>Date de naissance</label>
          <input type="text" class="form-control" [(ngModel)]= "tempUser.date">
          <label>Formation</label>
          <input type="text" class="form-control" [(ngModel)]= "tempUser.formation">
          <label>Action</label>
          <br>
          <button class="btn btn-success" (click)="addUser()">Ajouter</button>
      </div>
    </div>
  </div>
     <table class="table">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Date</th>
            <th scope="col">Formation</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ listUser.lastName }}</td>
            <td>{{ listUser.firstName }}</td>
            <td>{{ listUser.date }}</td>
            <td>{{ listUser.formation }}</td>
            <td><button class="btn btn-info" btn-sm (click)="updateUser()">Mise à jour</button>
              <button class="btn btn-danger" btn-sm (click)="removeUser()">Supprimer</button></td>
          </tr>
          <tr>
              <td>{{ item.lastName }}</td>
            <td>{{ item.firstName }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.formation }}</td>
            <td><button class="btn btn-info" btn-sm (click)="updateUser()">Mise à jour</button>
              <button class="btn btn-danger" btn-sm (click)="removeUser()">Supprimer</button></td>
          </tr>
          <tr>
              <td>{{ item.lastName }}</td>
            <td>{{ item.firstName }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.formation }}</td>
            <td><button class="btn btn-info" btn-sm (click)="updateUser()">Mise à jour</button>
              <button class="btn btn-danger" btn-sm (click)="removeUser()">Supprimer</button></td>
          </tr>
        </tbody>
      </table>
 
<div class="row">
<div class="col-xs-12">
  <ul class="list-group">
    <li *ngFor="let item of listUser">{{ item.lastName }} | {{ item.firstName }} | {{ item.date }} | {{ item.formation }} | {{ item.action }} </li>
  </ul>
</div>
</div>-->